html {
	font-family: "Verdana", "Arial", "Helvetica", sans-serif;
   line-height: 1,7em;
   color: white;
   background-color: #dcdcdc;
   }
.col1 {
	color: #027373;
}
h2 {
	color: #5FCDD9;
   }
.col3 {
	color: #d6fff6;
}
.conteneur {
	border: 1px solid #696969;
	background-color:  #172026 ;
}
.entete {
	color: #5bc0be;
	background: #124559;
	padding: 10px;
}
.corps {
	padding-left: 3%;
}
.centered {
	text-align: center;
	}
.tdroit {
   text-align: right;
   font-weight: bold;
   }	
a:link { 
	color:  #5bc0be;
	}
a:hover { 
 	color: #90e0ef;
	}
a:visited {
	color: #211A44;
}
.extrait { 
	margin: 20px;
	margin-left: -15px;
	padding: 5px;
	padding-left: 10px;
	margin-right: 15%;
	font-family: "Courier", "Lucida Console", monospace;
	font-size: 10pt;
	background-color: #212f3c ;
	color: #ffffff;
	}
ol.romain {
   list-style-type: lower-roman;
   }
table {
	width: 100%;
	border-collapse: collapse;
	}  
table, th, td {
   padding: 10px;
	} 
tr.titre {
	font-variant: small-caps;
	text-align: center;
	}  
tr:nth-child(even) { 
	background-color: rgb(80%, 80%, 90%); 
	}
tr:hover { 
	background-color: #81657C; 
	}  
li {
	padding-bottom: 15px;
	}
b {
	font-size: 11pt;
	font-weight: bold;
	color:  #d6fff6 ;
}	
	
ul.menu {
   padding: 5px;
	margin:0;
	list-style-type:none;
	background-color:#253659;
	border-bottom:1px solid #d6fff6;
	}
li.barre {
   margin-left:2px;
   float:left;    
	width:100px;
	color: #03A696;
	font-weight: bold;
	text-align:center;
	padding-right: 10px;
	}
	
	
	